<f:if condition="{type}=='css'">
    <f:then>
        <f:for each="{resources}" as="resource">
            <f:if condition="{addcssrandom}">
                <f:then><link rel="stylesheet" href="/{resource}?{timestamp}" /></f:then>
                <f:else><link rel="stylesheet" href="/{resource}" /></f:else>
            </f:if>

        </f:for>
    </f:then>
    <f:else>
        <f:for each="{resources}" as="resource">
            <script src="/{resource}" ></script>
        </f:for>
    </f:else>
</f:if>